FLASK_HOST=127.0.0.1
FLASK_DEBUG=false

PORT=3000

SMTP_HOST=smtp.gmail.com

NOTIFICATION_EMAIL=you@example.com
SMTP_PORT=587
SMTP_USERNAME=you@example.com
SMTP_PASSWORD=your-email-app-password
SMTP_FROM_EMAIL=you@example.com
